@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints

$mobile: new-breakpoint(max-width 480px 4);
$medium-screen-up: new-breakpoint(min-width 640);
$large-screen-up: new-breakpoint(min-width 860);





