// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Pathway Gothic One', sans-serif;

// Font Sizes
$base-font-size: rem(16);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * rem(16);
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$light-gray: #ddd;
$dark-gray: #333;
$orange: #DF4B35;

$hover-color: #C2D7CE;
$primary-theme-color: #84AF9D;
$secondary-theme-color: #E4DED0;
$tertiary-theme-color: #C29341;
$footer-background: #84af9d;
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

// Font Colors
$base-background-color: $primary-theme-color;
$base-font-color: $dark-gray;
$action-color: $primary-theme-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
