section.about-home-wrapper {
  @include outer-container;

    .about-text-right {
      cursor: pointer;
      margin-bottom: 2em;
      border: none;
      // padding-left: 4%;
      @include span-columns(6);
      // @include shift(-12);
    }

    .image-left {
      position: relative;
      @include media($large-screen) {
        @include span-columns(6);
        // @include omega(2n);
        // @include shift(6);
      }
    }

    h3 {
      width: 20%;
      margin: 0 auto;
      padding: 0.4em 0.2em;
      text-align: center;
      color: #C29341;
      border: 1px solid #C29341;
    }
    .text {
      margin-top: 1.5em;
    }
}
