section.about-home-wrapper {
    padding: $base-spacing 0;
    @include outer-container;
    .about-text-right {
        cursor: pointer;
        border: none;
        @include span-columns(6);
    }
    .image-left {
        position: relative;
        @include span-columns(6);
    }
    h3 {
        color: #c29341;
    }
    .text {
        margin-top: 1.5em;
    }
}
