
.gram-crowdfunding-banner {
    @include outer-container;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing * 2;
    @include media($medium-screen-up) {
        display: flex;
        align-items: center;
    }
}

.gram-crowdfunding-banner__image,
.gram-crowdfunding-banner__text {
    display: block;
    text-align: center;
    @include media($medium-screen-up) {
        text-align: center;
        width: 50%;
    }
}

.gram-crowdfunding-banner__image {
    padding-bottom: $base-spacing;
    @include media($medium-screen-up) {
        padding-bottom: 0;
    }
}

.gram-crowdfunding-banner__text {
    padding: 0 $base-spacing;
    @include media($large-screen-up) {
        padding: 0 100px;
    }
    .button {
        text-transform: uppercase;
    }
}

.gcbt-message {
    font-size: rem(21);
}


.landing-page-image-credit {
    $color: $light-gray;
    color: $color;
    padding: ($small-spacing / 2) $small-spacing;
    background: rgba(black, 0.5);
    text-align: right;
    font-size: rem(14);
    @include position(absolute, null 0 0 0);
    a {
        color: $color;
        text-decoration: underline;
    }
}

.newsletter-container {
    background-color: $primary-theme-color;
    padding: ($base-spacing * 2) 0 ;
    @include outer-container($max-site-width);
}

.newsletter-inner-container {
    color: #fff;
    @include media($medium-screen-up) {
        display: flex;
        align-items: center;
    }
    button {
        width: 100%;
        border: 1px solid white;
    }
}

.feature-home-text {
    font-size: rem(20);
    padding-bottom: $base-spacing;
    @include media($medium-screen-up) {
        width: 48%;
        margin-right: 2%;
    }
}

.nl-form {
    @include media($medium-screen-up) {
        width: 50%;
    }
}

.about-home-wrapper.container {
    padding-top: $base-spacing;
    @include media($medium-screen-up) {
        display: flex;
        align-items: center;
        padding-top: $base-spacing * 2;
        .image-container {
            width: 32%;
        }
        .about-text {
            width: 64%;
        }
        .image-container {
            margin-right: 4%;
        }
    }
    &.video-section {
        padding-bottom: $base-spacing * 2;
        @include media($medium-screen-up) {
            .about-text {
                width: 48%;
            }
            .video-container {
                width: 48%;
                margin-left: 4%;
                flex: 1 1 auto;
            }
        }
    }
    iframe {
        width: 100%;
        border: 0;
    }
    img {
        border-radius: 50%;
    }
}


.video-section {
    @include media($medium-screen-up) {
        display: flex;
        align-items: center;
    }
}
