
.landing-page-image-credit {
    $color: $light-gray;
    color: $color;
    padding: ($small-spacing / 2) $small-spacing;
    background: rgba(black, 0.5);
    text-align: right;
    font-size: rem(14);
    @include position(absolute, null 0 0 0);
    a {
        color: $color;
        text-decoration: underline;
    }
}

.newsletter-container {
    background-color: $primary-theme-color;
    padding: ($base-spacing * 2) 0 ;
    @include outer-container(100%);
}

.newsletter-inner-container {
    color: #fff;
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
    }
    button {
        width: 100%;
        border: 1px solid white;
    }
}

.feature-home-text {
    font-size: rem(20);
    padding-bottom: $base-spacing;
    @include media($medium-screen-up) {
        width: 48%;
        margin-right: 2%;
    }
}

.nl-form {
    @include media($medium-screen-up) {
        width: 48%;
    }
}

.about-home-wrapper.container {
    padding-top: $base-spacing;
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
        padding-top: $base-spacing * 2;
        .image-container {
            width: 32%;
        }
        .about-text {
            width: 64%;
        }
        .image-container {
            margin-right: 4%;
        }
    }
    &.video-section {
        padding-bottom: $base-spacing * 2;
        @include media($medium-screen-up) {
            .about-text {
                width: 48%;
            }
            .video-container {
                width: 48%;
                margin-left: 4%;
                @include flex(1 1 auto);
            }
        }
    }
    iframe {
        width: 100%;
        border: 0;
    }
    img {
        border-radius: 50%;
    }
}


.video-section {
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
    }
}
