.newsletter-container {
    background-color: $primary-theme-color;
    padding: ($base-spacing * 2) 0 ;
    @include outer-container(100%);
}

.newsletter-inner-container {
    color: #fff;
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
    }
    button {
        width: 100%;
        border: 1px solid white;
    }
}

.feature-home-text {
    font-size: rem(20);
    padding-bottom: $base-spacing;
    @include media($medium-screen-up) {
        width: 48%;
        margin-right: 2%;
    }
}

.nl-form {
    @include media($medium-screen-up) {
        width: 48%;
    }
}


.about-home-wrapper.container {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
    }
    @include media($large-screen-up) {
        padding-top: $base-spacing * 2;
        padding-bottom: $base-spacing * 2;
    }
    h2 {
        color: $tertiary-theme-color;
    }
    @include media($medium-screen-up) {
        .image-container,
        .about-text {
            width: 48%;
        }
        .image-container {
            margin-right: 2%;
        }
    }
}


