/* layout */
.container {
	@include outer-container;
	padding: 0 .5em;
}

#content section {
	margin: 2em 0;
	h3 {
		margin: 1em 0;
	    text-align: center;
	    margin: 0 auto;
	}

	.mg {
		padding: 1em;
	}
}

