
.site-header.container {
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;
    padding-bottom: $small-spacing;
    border-bottom: 1px solid $x-light-gray;
    @include clearfix;
    @include media($medium-screen-up) {
        padding: $base-spacing;
    }
}

.home .site-header.container {
    border-bottom: none;
    margin-bottom: 0;
}

.navigation {
    .logo {
        margin-left: -3px;
        @include media($medium-screen-up) {
            float: left;
        }
        img {
            width: 160px;
        }
    }
}


