
.site-header.container {
    padding: $base-spacing $small-spacing $small-spacing;
    @include clearfix;
    @include media( $medium-screen-up ) {
        padding: $base-spacing $base-spacing $small-spacing;
    }
}

.navigation {
    .logo {
        @include media($medium-screen-up) {
            float: left;
        }
        img {
            max-width: 150px;
        }
    }
}

.nav-menu {
    padding-top: $small-spacing;
    @include media($medium-screen-up) {
        float: right;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline-block;
        margin-right: $small-spacing;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        color: $base-font-color;
    }
}

