
.sections-page-header {
    margin-bottom: $base-spacing;
    text-align: center;
}

.sections-section {
    padding-top: $base-spacing * 2;
    padding-bottom: $base-spacing * 2;
    @include media($medium-screen-up) {
        @include display(flex);
        @include align-items(center);
    }
    img {
        border-radius: 50%;
    }
    @include media($medium-screen-up) {
        .sections-section__image {
            width: 32%;
            margin-right: 2%;
        }
        .sections-section__text {
            width: 65%;
        }
        &.img-right {
            .sections-section__image {
                order: 2;
                margin-left: 2%;
                margin-right: 0;
            }
            .sections-section__text {
                order: 1;
            }
        }
    }
}
