section.video-wrapper {
  @include outer-container;

  .video-left {
    background-color: white;
    cursor: pointer;
    margin-bottom: 2em;
    border: none;
    padding-right: 4%;
    @include span-columns(6);
  }

  .video-text-right {
    position: relative;
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  h3 {
    width: 20%;
    margin: 0 auto;
    padding: 0.4em 0em;
    text-align: center;
    color: #C29341;
    border: 1px solid #C29341;
  }
}



