.parallax-window {
    margin-bottom: $base-spacing;
    min-height: 400px;
    background: transparent;
}

article.excerpt {
    margin-bottom: $base-spacing * 2;
}

body div.sharedaddy {
    padding: $base-spacing 0 $small-spacing;
    h3.sd-title {
        font-size: rem(24);
        font-weight: normal;
        margin-bottom: $small-spacing;
        &:before {
            display: none;
        }
    }
}
