.site-footer {
    margin-top: $base-spacing * 2;
    background: $action-color;
    padding: $base-spacing * 2 0;
    color: white;
    a {
        color: white;
    }
    .widget_wpcom_social_media_icons_widget {
        ul {
            padding-left: 0;
            .genericon {
                font-size: rem(48);
            }
        }
    }
}

.footer-site-content {
    @include outer-container;
}

.site-info {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-content(space-between);
    @include align-items(flex-end);
    .widget {
        padding-right: $base-spacing * 2;
        @include flex(1);
    }
}
