
.site-header {
    padding: $base-spacing 0 $base-spacing * 2;
}

.main-logo {
    max-width: 200px;
    display: inline-block;
}

.tagline {
    padding-left: $base-spacing;
    display: inline-block;
}
