article.frontpage {
    padding: $base-spacing;
    @include outer-container(720px);
    P {
        font-size: rem(18);
    }
}

.frontpage-blogs {
    padding: $base-spacing 0;
    h2 {
        text-align: center;
    }
}

.frontpage-blogs--container {
    padding-top: $base-spacing;
    @include outer-container;
    article {
        @include span-columns(6);
    }
}

.post-thumbnail-container {
    padding: $base-spacing 0;
}
