section.video-wrapper {
  @include outer-container;

  .video-left {
    cursor: pointer;
    margin-bottom: 2em;
    border: none;
    @include span-columns(6);
  }

  .video-text-right {
    position: relative;
    @include media(900px) {
      @include span-columns(6);
      // @include omega(2n);
      clear:none;
    }
    h3 {
      width: 20%;
      margin: 0 auto;
      padding: 0.4em 0.2em;
      text-align: center;
      color: #C29341;
      border: 1px solid #C29341;
    }
    .text {
      margin-top: 1.5em;
    }
  }

}







