button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #84AF9D;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #5b8c77;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(117, 165, 145, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", false;
  -moz-font-feature-settings: "kern", "liga", false;
  -ms-font-feature-settings: "kern", "liga", false;
  font-feature-settings: "kern", "liga", false;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p {
  margin: 0 0 0.75em; }

a {
  color: #84AF9D;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #5b8c77; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0; }

.map-container {
  width: 100%;
  height: 400px; }

.site-header.container {
  padding: 1.5em; }
  .site-header.container::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 40rem) {
  .navigation .logo {
    float: left; } }

.navigation .logo img {
  max-width: 150px; }

.nav-menu {
  padding-top: 0.75em; }
  @media screen and (min-width: 40rem) {
    .nav-menu {
      float: right; } }
  .nav-menu li {
    display: inline-block;
    margin-right: 0.75em; }
    .nav-menu li:last-child {
      margin-right: 0; }
  .nav-menu a {
    color: #333; }

.parallax-window {
  max-height: 450px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.parallax-static-content.container {
  color: white;
  position: relative;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
  width: 600px;
  max-width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 6em auto;
  font-size: 1.25rem; }
  .parallax-static-content.container.page {
    margin: 7.5em auto;
    padding-bottom: 0; }

.parallax-background {
  height: 900px;
  left: 0;
  position: absolute;
  top: -150px;
  width: 100%; }

.newsletter-container {
  background-color: #84AF9D;
  padding: 3em 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .newsletter-container::after {
    clear: both;
    content: "";
    display: table; }

.newsletter-inner-container {
  color: #fff;
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto; }
  .newsletter-inner-container::after {
    clear: both;
    content: "";
    display: table; }
  .newsletter-inner-container button {
    width: 100%;
    border: 1px solid white; }

.feature-home-text {
  font-size: 1.25rem;
  padding-bottom: 1.5em; }
  @media screen and (min-width: 40rem) {
    .feature-home-text {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 48.9361702128%; }
      .feature-home-text:last-child {
        margin-right: 0; } }

@media screen and (min-width: 40rem) {
  .nl-form {
    float: left;
    display: block;
    margin-right: 2.1276595745%;
    width: 48.9361702128%;
    margin-right: 0; }
    .nl-form:last-child {
      margin-right: 0; } }

.about-home-wrapper.container {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  @media screen and (min-width: 56.25rem) {
    .about-home-wrapper.container {
      padding-top: 3em;
      padding-bottom: 3em; } }
  .about-home-wrapper.container h2 {
    color: #C29341; }
  @media screen and (min-width: 40rem) {
    .about-home-wrapper.container .image-container {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 48.9361702128%; }
      .about-home-wrapper.container .image-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 40rem) {
    .about-home-wrapper.container .about-text {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 48.9361702128%;
      margin-right: 0; }
      .about-home-wrapper.container .about-text:last-child {
        margin-right: 0; } }

.page-content {
  padding-top: 3em;
  padding-bottom: 1.5em; }
  @media screen and (min-width: 40rem) {
    .page-content {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 65.9574468085%; }
      .page-content:last-child {
        margin-right: 0; } }

.posts-list {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

.card-outer {
  transition: all 0.2s ease-in-out;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 0 2.1276595745%; }
  @media screen and (min-width: 40rem) {
    .card-outer {
      margin-right: 2%;
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      flex-grow: 2;
      -ms-flex-positive: 2; } }
  @media screen and (min-width: 40rem) and (max-width: 56.25rem) {
    .card-outer {
      width: 48%; }
      .card-outer:nth-of-type(2n + 2), .card-outer:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 56.25rem) {
    .card-outer {
      width: 32%; }
      .card-outer:nth-of-type(3n + 3), .card-outer:last-child {
        margin-right: 0; } }
  .card-outer .card-image {
    overflow: hidden; }
    .card-outer .card-image img {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%; }
  .card-outer .card-header {
    font-weight: bold;
    padding: 0.5em 0.75em;
    position: relative; }
  .card-outer .post-details {
    color: #4d4d4d; }
    .card-outer .post-details .post-comments-badge {
      border: none;
      border-radius: 100%;
      background: #84AF9D;
      text-align: center;
      display: table;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0.75em;
      right: 0.75em; }
      .card-outer .post-details .post-comments-badge a {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 16px;
        line-height: 20px; }
      .card-outer .post-details .post-comments-badge:hover {
        background-color: #a3c3b5; }
  .card-outer .card-copy {
    padding: 0 0.75em 0.75em; }
  .card-outer:focus img, .card-outer:hover img {
    opacity: 0.75; }
  .card-outer:active {
    background-color: white; }
    .card-outer:active .card-header {
      background-color: white; }

.pagination.container {
  padding-top: 1.5em;
  padding-bottom: 3em;
  text-align: center; }

/* ----------------------------------
        SINGLE POSTS
  ----------------------------------- */
.single-post-wrapper {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 4%; }
  .single-post-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .single-post-wrapper .posts-list {
    background-color: white;
    cursor: pointer;
    margin-bottom: 2em;
    border: none;
    padding: 4%; }
    @media screen and (min-width: 53.75em) {
      .single-post-wrapper .posts-list {
        float: left;
        display: block;
        margin-right: 2.1276595745%;
        width: 74.4680851064%; }
        .single-post-wrapper .posts-list:last-child {
          margin-right: 0; } }
    .single-post-wrapper .posts-list img.article-img {
      margin: 0 0 4% 4%; }
    .single-post-wrapper .posts-list .card-image {
      height: auto;
      max-height: 150px;
      overflow: hidden; }
      .single-post-wrapper .posts-list .card-image img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%; }
    .single-post-wrapper .posts-list .card-header {
      background-color: white;
      font-weight: bold;
      line-height: 1.5em;
      padding: 0.5em 0.75em; }
      .single-post-wrapper .posts-list .card-header .entry-title {
        padding: .5em 0; }
      .single-post-wrapper .posts-list .card-header .post-details {
        position: relative;
        font-size: 12px;
        width: 90%;
        color: #4d4d4d; }
        .single-post-wrapper .posts-list .card-header .post-details i.fa {
          padding-left: 10px; }
        .single-post-wrapper .posts-list .card-header .post-details i.fa:first-child {
          padding: 0; }
        .single-post-wrapper .posts-list .card-header .post-details .post-comments-badge {
          height: 60px;
          width: 60px;
          position: absolute;
          top: -55px;
          right: -70px;
          border: none;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          background: #c2d7ce;
          text-align: center;
          display: table; }
          .single-post-wrapper .posts-list .card-header .post-details .post-comments-badge a {
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 16px;
            line-height: 20px; }
          .single-post-wrapper .posts-list .card-header .post-details .post-comments-badge i.fa {
            display: block;
            font-size: 15px;
            padding: 0;
            margin-bottom: 4px; }
          .single-post-wrapper .posts-list .card-header .post-details .post-comments-badge:hover {
            background-color: #a3c3b5; }
    .single-post-wrapper .posts-list .card-copy {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: 0.75em 0.75em; }
      .single-post-wrapper .posts-list .card-copy p {
        margin: 0 0 0.75em; }
    .single-post-wrapper .posts-list:focus, .single-post-wrapper .posts-list:hover {
      cursor: pointer; }
    .single-post-wrapper .posts-list:active {
      background-color: white; }
      .single-post-wrapper .posts-list:active .card-header {
        background-color: white; }
  .single-post-wrapper section.sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .single-post-wrapper section.sidebar {
        float: left;
        display: block;
        margin-right: 2.1276595745%;
        width: 23.4042553191%; }
        .single-post-wrapper section.sidebar:last-child {
          margin-right: 0; }
        .single-post-wrapper section.sidebar:nth-child(2n) {
          margin-right: 0; }
        .single-post-wrapper section.sidebar:nth-child(2n+1) {
          clear: left; } }
    .single-post-wrapper section.sidebar aside {
      width: 20%; }
    .single-post-wrapper section.sidebar .widget {
      margin-bottom: 1em; }
      .single-post-wrapper section.sidebar .widget .text-widget {
        font-size: 0.8em;
        font-weight: bold; }
    .single-post-wrapper section.sidebar h3.widget-title {
      color: #c29341;
      font-size: 1.4em;
      margin: 0 0 1em 0;
      font-weight: normal;
      text-align: center;
      border: 1px solid #c29341;
      padding: 0.2em 0; }
      @media screen and (min-width: 53.75em) {
        .single-post-wrapper section.sidebar h3.widget-title {
          margin: 1em 0; } }
    .single-post-wrapper section.sidebar li {
      margin: 0.5em 0; }
    .single-post-wrapper section.sidebar .cat-item a {
      background-color: #ede9e0;
      color: #666666;
      padding: 0.2em;
      margin: 2em 0; }
      .single-post-wrapper section.sidebar .cat-item a:hover {
        color: #fff;
        background-color: #dbd3c0;
        border-bottom: 2px solid #e4ded0; }
    .single-post-wrapper section.sidebar a {
      color: #666666;
      padding: 0.2em; }
      .single-post-wrapper section.sidebar a:hover {
        color: #c8bca0; }
    .single-post-wrapper section.sidebar .post-author-meta {
      display: block;
      width: 225px;
      list-style: none;
      position: absolute;
      top: 570px;
      left: 50%;
      margin-left: -600px;
      text-align: left; }
      .single-post-wrapper section.sidebar .post-author-meta li {
        display: block; }
      .single-post-wrapper section.sidebar .post-author-meta li.author-bio {
        font-size: 13px;
        color: #b2b2b2; }
      .single-post-wrapper section.sidebar .post-author-meta .author-social {
        float: left;
        padding: 15px 0;
        border-bottom: 3px solid #f3f3f3; }
        .single-post-wrapper section.sidebar .post-author-meta .author-social i.fa {
          color: #b2b2b2;
          margin-right: 0.5em; }
          .single-post-wrapper section.sidebar .post-author-meta .author-social i.fa:hover {
            color: #666666; }

.footer {
  background: #84af9d;
  color: #fff;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer .footer-inner {
    padding-top: 3em;
    padding-bottom: 3em;
    max-width: 67.5rem;
    margin-left: auto;
    margin-right: auto; }
    .footer .footer-inner::after {
      clear: both;
      content: "";
      display: table; }
  @media screen and (min-width: 40rem) {
    .footer .footer-logo {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 48.9361702128%; }
      .footer .footer-logo:last-child {
        margin-right: 0; }
    .footer .footer-social {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 48.9361702128%;
      margin-right: 0; }
      .footer .footer-social:last-child {
        margin-right: 0; } }
  .footer .footer-social {
    text-align: right; }
  .footer .genericon {
    font-size: 2rem; }
  .footer ul {
    padding-left: 0; }
    .footer ul a {
      color: rgba(255, 255, 255, 0.4); }
      .footer ul a:focus, .footer ul a:hover {
        color: white; }

/* ----------------------------------
        FOOTER 2
  ----------------------------------- */
.footer-2 {
  background: #C29341;
  border-top: 2px solid white;
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .footer-2::after {
    clear: both;
    content: "";
    display: table; }
  .footer-2 a {
    color: #fff; }
  .footer-2 .menu {
    float: left;
    padding-left: 0; }
    .footer-2 .menu li {
      display: inline-block;
      margin-right: 0.75em; }
  .footer-2 .copyright-info {
    float: right; }

body,
html {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.site-content,
.site-footer {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto; }
  .site-content::after,
  .site-footer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40rem) {
    .site-content .content-area,
    .site-footer .content-area {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 65.9574468085%; }
      .site-content .content-area:last-child,
      .site-footer .content-area:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 40rem) {
    .site-content .widget-area,
    .site-footer .widget-area {
      float: left;
      display: block;
      margin-right: 2.1276595745%;
      width: 31.914893617%; }
      .site-content .widget-area:last-child,
      .site-footer .widget-area:last-child {
        margin-right: 0; } }

.container {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.75em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40rem) {
    .container {
      padding: 0 1.5em; } }

.skip-link,
.screen-reader-text {
  display: none; }
